{require_otp_vsn, "R?1[789]"}.

{erl_opts, [
  debug_info,
  {i, ["include"]},
  {d, xml_nif},
  {parse_transform, lager_transform}
]}.

{port_specs, [
  {".*", "priv/lib/tls_drv.so", ["c_src/tls_drv.c"], [{env, [{"LDFLAGS", "$LDFLAGS -lssl"}]}]},
  {".*", "priv/lib/ejabberd_zlib_drv.so", ["c_src/ejabberd_zlib_drv.c"], [{env, [{"LDFLAGS", "$LDFLAGS -lz"}]}]}
]}.

%% Find the openssl libs installed by Homebrew on OSX
{port_env, [
  {"darwin", "CFLAGS",   "$CFLAGS -I/usr/local/opt/openssl/include/ -I/usr/local/include"},
  {"darwin", "CXXFLAGS", "$CXXFLAGS -I/usr/local/opt/openssl/include/ -I/usr/local/include"},
  {"darwin", "LDFLAGS",  "$LDFLAGS -L/usr/local/opt/openssl/lib -L/usr/local/lib"}
]}.

%% ejabberd also has two ASN.1 files that need to be compiled. This feature
%% isn't in rebar3, but luckily there is a plugin that can do it.
{asn1_opts, [{outdir, "src"}, noobj]}.

{provider_hooks, [
  {pre, [
    {compile, {pc,   compile}},
    {compile, {asn1, compile}},
    {clean,   {pc,   clean}},
    {clean,   {asn1, clean}}
  ]}
]}.

{deps, [
  {lager,      "3.2.4"},
  {base16,     "1.0.0"},
  {redo,       "2.0.1"},
  {cowboy,     "1.0.4"},
  {jiffy,      "0.14.11"},
  {idna,       "1.2.0"},
  {poolboy,    "1.5.1"},
  {uuid,       "1.7.0", {pkg, uuid_erl}},
  {cache_tab,  "1.0.7"},
  {stringprep, "1.0.8"},
  {recon,      "2.3.2"},
  {meck,       "0.8.4"},
  {edown,      "0.8.1"},
  {p1_mysql,   "1.0.2"},
  {fast_tls,   "1.0.11"},
  {lasse,      "1.1.0"},

  {lager_syslog, {git, "https://github.com/basho/lager_syslog",       {tag, "3.0.3"}}},
  {cuesport,     {git, "https://github.com/esl/cuesport",             {branch, "master"}}},
  {exml,         {git, "https://github.com/esl/exml",                 {tag, "2.4.1"}}},
  {exometer,     {git, "https://github.com/esl/exometer",             {branch, "1.2.1-patched"}}},
  {mochijson2,   {git, "https://github.com/bjnortier/mochijson2",     {branch, "master"}}},
  {alarms,       {git, "https://github.com/hippware/alarms",          {branch, "master"}}},
  {fusco,        {git, "https://github.com/esl/fusco",                {branch, "master"}}},
  {partial,      {git, "https://github.com/hippware/partial",         {branch, "master"}}},
  {usec,         {git, "https://github.com/esl/usec",                 {branch, "master"}}},
  {mustache,     {git, "https://github.com/mojombo/mustache.erl",     {branch, "master"}}},
  {proper,       {git, "https://github.com/manopapad/proper",         {tag, "v1.2"}}}
  % {ecoveralls,   {git, "https://github.com/nifoc/ecoveralls",         {branch, "master"}}}
]}.

{overrides, [
  %% Setup has a post_hook that attempts to generate an escript
  %% the hook fails and we don't need the escript so blank out the hook
  {override, setup, [
    {post_hooks, []}
  ]},

  %% Some dependencies use rebar 2 plugins causing a warning on every compile
  %% Since they don't work anyway, we can just zero-out the plugin list and
  %% call rebar 2 to do the actual build.
  {override, riak_pb, [
    {plugins, []},
    {pre_hooks, [
      {compile, "./rebar compile skip_deps=true deps_dir=.."}
    ]}
  ]},

  {override, hamcrest, [
    {plugins, []},
    {pre_hooks, [
      {compile, "./rebar compile skip_deps=true deps_dir=.."}
    ]}
  ]}
]}.

{plugins, [
  {pc, "1.4.0"},
  {rebar3_asn1_compiler, {git, "https://github.com/hippware/rebar3_asn1_compiler.git", {branch, "master"}}}
]}.
